.navbar-size {
    width: 95%;
    margin: 0 auto;
    color: black;
}

.user-image-size {
    height: 56px;
    margin: 4px 0;
}

.main-body-index {
    background-color: tan;
    color: white;
    height: calc(100vh - 64px);
}

.main-body-history {
    background-color: tan;
    color: white;
    height: calc(100vh - 64px);
}

.materialboxed-image {
    margin: 0 auto;
    height: 400px;
}

.click-me-button {
    background-color: black;
    margin-top: 50px;
}

.history-button {
    background-color: black;
    margin-top: 50px;
}

.home-button {
    background-color: white;
    margin-top: 50px;
}

.table {
    background-color: white;
    margin-top: 50px;
}